html, body {
  display: block;
  font-family: "Poppins", sans-serif;
  padding: 0px !important;
  margin: 0px !important;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.ngf-container {
  display: block;
  width: 95%;
  max-width: 1100px;
  margin: 0px auto;
}
