@use 'ngflux/scss' with (
  $primary: #1d528b,
);

@use 'ngflux' as ngf;

html, body {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 0px !important;
  margin: 0px !important;
  background-color: #EEE;
  // color: #333;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &, &:link {
    color: #{ngf.$primary};
  }

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.8rem;
  margin: 0px 0px 10px 0px;
}

.ngf-container {
  display: block;
  width: 95%;
  max-width: 1100px;
  margin: 0px auto;
}

code:not([doc-code]) {
  color: var(--ngf-primary);
  background-color: rgba(var(--ngf-primary-rgb), .1);
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 2px 5px;
  font-size: .85em;
  font-weight: 400;

  a {
    color: inherit !important;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.doc-responsive {
  display: block;
  width: 100%;
  overflow: auto hidden;
}

.doc-table {
  width: 100%;
  border-top: 1px solid #CCC;
  border-collapse: collapse;

  th, td {
    padding: 5px 10px;
    border-bottom: 1px solid #CCC;
  }

  > thead {
    border-bottom: 2px solid #CCC;

    th, td {
      text-align: left;
      font-weight: 500;
    }
  }
}
