@use 'ngflux/scss' with (
  $primary: #1d528b,
);

@use 'ngflux' as ngf;

html, body {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 0px !important;
  margin: 0px !important;
  background-color: #EEE;
  // color: #333;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &, &:link {
    color: #{ngf.$primary};
  }

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.8rem;
  margin: 0px 0px 10px 0px;
}

.ngf-container {
  display: block;
  width: 95%;
  max-width: 1100px;
  margin: 0px auto;
}

code:not([doc-code]) {
  color: var(--ngf-primary);
  background-color: rgba(var(--ngf-primary-rgb), .1);
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 2px 5px;
  font-size: .85em;
  font-weight: 400;

  a {
    color: inherit !important;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.doc-responsive {
  display: block;
  width: 100%;
  overflow: auto hidden;
}

.doc-table {
  width: 100%;
  border-top: 1px solid #CCC;
  border-collapse: collapse;
  margin: 10px 0px 30px 0px;

  th, td {
    padding: 10px;
    border-bottom: 1px solid #CCC;
    vertical-align: top;
  }

  > thead {
    border-bottom: 2px solid #CCC;

    th, td {
      text-align: left;
      font-weight: 500;
    }
  }
}

.doc-example {
  display: flex;
  flex-direction: column;
  border: 1px solid #CCC;
  background-color: #DDD;
  gap: 1px;

  @include ngf.device(sm) {
    flex-direction: row;
    width: 100%;
  }

  > * {
    background-color: #FFF;
    padding: 20px;

    @include ngf.device(sm) {
      flex: 1 0 0;
      width: 0px;
    }
  }

  &-result {
    display: flex;
    flex-direction: column;
  }

  &-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    flex: 1 0 0;
    height: 0px;
  }

  h4 {
    margin: -20px -20px 20px -20px;
    border-bottom: 1px solid #CCC;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.doc-field {
  display: block;
  margin: 0px 0px 10px 0px;

  label {
    display: inline-block;
    font-size: 1rem;
    margin: 0px;

    small {
      font-size: .7em;
      color: #555;
    }
  }

  input, textarea, select {
    display: block;
    padding: 10px 20px;
    border: 1px solid #DDD;
    background-color: #EEE;
    font-size: 1rem;
    width: 100%;

    &:focus {
      outline: 1px solid #DDD;
    }
  }
}
