@use 'ngflux' as ngf;

:host {
  display: block;
  min-height: 100vh !important;
  width: 100vw !important;

  > .header {
    display: block;
    background-color: ngf.$primary;
    color: #FFF;
    height: 50px;
  }

  > .footer {
    display: block;
  }
}
