@use 'ngflux' as ngf;

:host {
  display: var(--display) !important;

  --display: inline-block;

  --padding: 0px;
  --hover-padding: 0px;

  --color: var(--ngf-primary);
  --hover-color: var(--ngf-primary);

  --background-color: transparent;
  --hover-background-color: transparent;

  --text-decoration: none;
  --hover-text-decoration: underline;

  &:hover {
    --color: var(--hover-color);
    --padding: var(--hover-padding);
    --background-color: var(--hover-background-color);
    --text-decoration: var(--hover-text-decoration);
  }

  > a {
    display: block !important;
    padding: var(--padding) !important;
    background-color: var(--background-color) !important;
    text-decoration: var(--text-decoration) !important;
    color: var(--color) !important;
  }
}
