:host {
  display: block;
  background-color: #f4f4f4;
  width: 100%;
  margin: 0px;

  &.hidden {
    display: none !important;
  }

  &.standalone {
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 0px 0px 10px 0px;
  }

  > .wrapper {
    display: block;
    overflow: auto hidden;
    padding: 20px;
    width: 100%;

    > pre {
      margin: 0px !important;
    }
  }
}
