:host {
  display: block;
  position: relative;
  margin: 20px 0px;
  width: 100%;
  z-index: 2;

  > .wrapper {
    display: block;
    visibility: hidden;
    width: 100%;

    > .header {
      display: block;
      visibility: visible;
    }

    .tabs {
      display: flex;
      flex-direction: row;
      pointer-events: none;
      width: 100%;

      &-wrapper {
        display: block;
        width: 100%;
        position: relative;
        visibility: visible;
        overflow: auto hidden;
        margin-bottom: -1px;
        z-index: 3;
      }

      &-item {
        display: block;
        position: relative;
        visibility: visible;
        background-color: #DDD;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        user-select: none;
        -moz-user-select: none;
        pointer-events: all;
        font-weight: 400;
        padding: 5px 20px;
        cursor: pointer;
        z-index: -1;

        &.active {
          border: 1px solid rgba(0, 0, 0, .2);
          border-bottom: none;
          background-color: #F4F4F4;
          cursor: default;
          z-index: 3;
        }
      }
    }

    > .body {
      display: block;
      visibility: visible;
      background-color: #FFF;
      border: 1px solid rgba(0, 0, 0, .2);
      width: 100%;
      z-index: 2;

      > .content {
        display: block;
        position: relative;
        background-color: #FFF;
        width: 100%;
        z-index: 5;
      }
    }
  }
}
