@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.ngf-icon {
  font-family: 'Material Symbols Sharp';
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;

  &.menu::before { content: "\e5d2"; }
  &.search::before { content: "\e8b6"; }
  &.close::before { content: "\e5cd"; }

  &.arrow-drop-down::before { content: "\e5c5"; }
  &.arrow-drop-up::before { content: "\e5c7"; }

  &.unfold-more::before { content: "\e5d7"; }
  &.unfold-less::before { content: "\e5d6"; }

  &.chevron-left::before { content: "\e5cb"; }
  &.chevron-right::before { content: "\e5cc"; }

  &.add::before { content: "\e145"; }
  &.edit::before { content: "\e3c9"; }
  &.eye::before { content: "\e8f4"; }
  &.trash::before { content: "\e872"; }
  &.refresh::before { content: "\e5d5"; }
  &.close::before { content: "\e5cd"; }
  &.filter::before { content: "\ef4f"; }
  &.upgrade::before { content: "\f0fb"; }
  &.download::before { content: "\f090"; }
  &.upload::before { content: "\f09b"; }

  &.heart::before { content: "\e87d"; }
  &.heart-plus::before { content: "\f884"; }
  &.heart-minus::before { content: "\f883"; }
  &.heart-check::before { content: "\f60a"; }

  &.cart::before { content: "\e8cc"; }
  &.cart-plus::before { content: "\e854"; }
  &.cart-minus::before { content: "\e928"; }
  &.cart-checkout::before { content: "\eb88"; }
  &.cart-off::before { content: "\f4f7"; }

  &.arrow-up::before { content: "\e986"; }
  &.arrow-down::before { content: "\e984"; }

  &.arrow-left::before { content: "\ef7d"; }
  &.arrow-right::before { content: "\e941"; }
}
