.ngf-tab-nav {
  display: block;
  padding: 10px 30px;
  background-color: var(--background-color) !important;
  color: var(--color) !important;
  text-decoration: none !important;
  cursor: pointer;

  --color: #333;
  --background-color: #FFF;

  &:hover {
    --background-color: rgba(var(--ngf-primary-rgb), .1);
  }

  &.active {
    position: relative;

    --color: var(--ngf-primary);

    &::before {
      display: block;
      position: absolute;
      inset: auto 0px -1px 0px;
      background-color: var(--ngf-primary);
      height: 3px;
      content: "";
      z-index: 2;
    }
  }
}
