:host {
  display: block;

  > .menu {
    display: block;
    list-style: none;
    padding: 0px;
    margin: 0px;

    > li {
      display: block;
      padding: 0px;
      margin: 0px;

      --bg-color: transparent;

      &:hover {
        --bg-color: #{rgba(#1d528b, .1)};
      }

      &.active {
        --bg-color: #{rgba(#1d528b, .15)};
      }

      > a {
        display: block;
        padding: 10px 15px;
        text-decoration: none !important;
        background-color: var(--bg-color) !important;
        color: #333;
      }
    }
  }
}
